Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --cache"],
  "*.js": ["prettier --write --cache"],
  "*.{css,json}": ["prettier --write --cache"]
}

feat(question): add #528 - React.memo and children
  challenges/528-react-memo-and-children/README.md
  challenges/528-react-memo-and-children/info.yml
  challenges/528-react-memo-and-children/solution.md
Due: none

feat(question): add #531 - Stopwatch
  challenges/531-stopwatch/README.md
  challenges/531-stopwatch/info.yml
  challenges/531-stopwatch/template.template.md
Due: none

fix tempalte 526
  challenges/526-useprevious/template.react.md
Due: none

fix template typo
  apps/www/scripts/actions/issue-pr.ts
Due: eslint --fix --cache

minor ux fixes
  apps/www/features/code-editor/context/LayoutProvider.tsx
  apps/www/screens/challenge/ui/ChallengePage.tsx
  challenges/376-stale-refs/info.yml
  challenges/376-stale-refs/template.react.md
Due: eslint --fix --cache

fix 531 template name
  challenges/531-stopwatch/template.react.md
Due: none

feat(question): add #533 - Trapping Rain Water
  challenges/533-trapping-rain-water/README.md
  challenges/533-trapping-rain-water/info.yml
  challenges/533-trapping-rain-water/template.template.md
Due: none

fix padding
  apps/www/features/code-editor/ui/Console.tsx
  apps/www/package.json
  apps/www/screens/home/ui/Hero.tsx
  challenges/399-tic-tac-toe/info.yml
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

fix 533
  challenges/533-trapping-rain-water/javascript.template.md
  challenges/533-trapping-rain-water/typescript.template.md
Due: none

fix 533
  challenges/533-trapping-rain-water/template.javascript.md
  challenges/533-trapping-rain-water/template.typescript.md
Due: none

feat(question): add #106 - Fix the vertical alignment
  challenges/106-fix-the-vertical-alignment/README.md
  challenges/106-fix-the-vertical-alignment/info.yml
  challenges/106-fix-the-vertical-alignment/template.html.md
Due: none

Fix React Server Components CVE vulnerabilities
  apps/www/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

feat: US-001 - [Bug]: Colors for Diffiultly badges needs to be subtle
  apps/www/shared/styles/theme.css
Due: prettier --write --cache

feat: US-001 - [Bug]: Colors for Diffiultly badges needs to be subtle
  apps/www/components/ui/badge.tsx
Due: eslint --fix --cache

migrate to next auth and custom db
  apps/www/app/api/auth/[...nextauth]/route.ts
  apps/www/app/auth/callback/route.ts
  apps/www/app/layout.tsx
  apps/www/components/ui/card.tsx
  apps/www/drizzle.config.ts
  apps/www/drizzle/0000_low_preak.sql
  apps/www/drizzle/meta/0000_snapshot.json
  apps/www/drizzle/meta/_journal.json
  apps/www/entities/completions/api/createCompletions.ts
  apps/www/entities/completions/api/deleteCompletions.ts
  apps/www/entities/completions/api/getCompletions.ts
  apps/www/entities/completions/hooks/useCompletions.ts
  apps/www/features/auth/api/getAuthUser.ts
  apps/www/features/auth/api/sign-in-with-oauth.ts
  apps/www/features/auth/api/sign-out.ts
  apps/www/features/auth/hooks/useAuth.ts
  apps/www/features/auth/ui/SignInButton.tsx
  apps/www/features/auth/ui/UserDropdown.tsx
  apps/www/features/code-editor/ui/ResizableLayoutPanel.tsx
  apps/www/package.json
  apps/www/scripts/check-supabase.ts
  apps/www/scripts/db-drop-all.ts
  apps/www/scripts/migrate-from-supabase.ts
  apps/www/scripts/verify-migration.ts
  apps/www/shared/api/supabase/client.ts
  apps/www/shared/api/supabase/index.ts
  apps/www/shared/api/supabase/server.ts
  apps/www/shared/context/AuthProvider.tsx
  apps/www/shared/lib/auth/config.ts
  apps/www/shared/lib/auth/index.ts
  apps/www/shared/lib/db/index.ts
  apps/www/shared/lib/db/schema.ts
  pnpm-lock.yaml
  scripts/ralph/.last-branch
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: eslint --fix --cache, prettier --write --cache

remove unecessary code
  apps/www/package.json
  pnpm-lock.yaml
Due: prettier --write --cache

remove supabase url
  apps/www/scripts/check-supabase.ts
  apps/www/scripts/migrate-from-supabase.ts
Due: eslint --fix --cache

feat(question): add #545 - Magnetic Links
  challenges/545-magnetic-links/README.md
  challenges/545-magnetic-links/info.yml
  challenges/545-magnetic-links/template.vanilla.md
Due: none

simplify challenge filter scope logic
  apps/www/entities/challenge/lib/useSyncScopeToSessionStorage.ts
  apps/www/entities/challenge/ui/SyncCategoryToSession.tsx
  apps/www/features/challenge-filter/hooks/usePersistedChallengeFilters.ts
  apps/www/features/challenge-filter/hooks/useSessionSyncedQueryState.ts
  apps/www/features/challenge-filter/ui/ChallengesFilters.tsx
  apps/www/screens/categories/ui/CategoryDetailPage.tsx
  apps/www/screens/challenge/ui/Breadcrumb.tsx
Due: eslint --fix --cache

refactor CSS: use Tailwind native colors, extract animations
  apps/www/app/globals.css
  apps/www/features/challenge-filter/hooks/useSessionSyncedQueryState.ts
  apps/www/shared/styles/animations.css
  apps/www/shared/styles/theme.css
Due: eslint --fix --cache, prettier --write --cache

feat: migrate from NextAuth to Better Auth
  apps/www/app/api/auth/[...all]/route.ts
  apps/www/app/api/auth/[...nextauth]/route.ts
  apps/www/drizzle/0001_better_auth_migration.sql
  apps/www/drizzle/meta/0001_snapshot.json
  apps/www/drizzle/meta/_journal.json
  apps/www/features/auth/api/sign-in-with-oauth.ts
  apps/www/features/auth/api/sign-out.ts
  apps/www/features/auth/hooks/useAuth.ts
  apps/www/package.json
  apps/www/shared/context/AuthProvider.tsx
  apps/www/shared/lib/auth/client.ts
  apps/www/shared/lib/auth/config.ts
  apps/www/shared/lib/auth/index.ts
  apps/www/shared/lib/db/schema.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

chore: remove dead AuthProvider wrapper
  apps/www/app/layout.tsx
  apps/www/shared/context/AuthProvider.tsx
Due: eslint --fix --cache

fix flexbox autoheight bug
  apps/www/app/(editor)/play/loading.tsx
  apps/www/app/(editor)/submit/quiz/loading.tsx
  apps/www/entities/challenge/ui/Question.tsx
  apps/www/screens/playground/ui/PlaygroundPage.tsx
Due: eslint --fix --cache

feat: convert to full SSG static export, remove auth, use localStorage for completions
  apps/www/app/(default)/categories/[category]/page.tsx
  apps/www/app/(editor)/challenges/[slug]/page.tsx
  apps/www/app/api/auth/[...all]/route.ts
  apps/www/app/sitemap.ts
  apps/www/entities/challenge/ui/ChallengeListItem.tsx
  apps/www/entities/completions/api/createCompletions.ts
  apps/www/entities/completions/api/deleteCompletions.ts
  apps/www/entities/completions/api/getCompletions.ts
  apps/www/entities/completions/hooks/useCompletions.ts
  apps/www/entities/completions/ui/MarkCompleteButton.tsx
  apps/www/features/auth/api/sign-in-with-oauth.ts
  apps/www/features/auth/api/sign-out.ts
  apps/www/next.config.js
  apps/www/screens/challenge/ui/ChallengePage.tsx
  apps/www/widgets/Header.tsx
Due: eslint --fix --cache, prettier --write --cache
