Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

feat(question): add #420 - Promise.finally
  challenges/420-promise-finally/README.md
  challenges/420-promise-finally/info.yml
  challenges/420-promise-finally/template.javascript.md
Due: none

feat(question): add #422 - Execute Promises in Series
  challenges/422-execute-promises-in-series/README.md
  challenges/422-execute-promises-in-series/info.yml
  challenges/422-execute-promises-in-series/template.javascript.md
Due: none

feat(question): add #424 - Promise.allSettled
  challenges/424-promise-allsettled/README.md
  challenges/424-promise-allsettled/info.yml
  challenges/424-promise-allsettled/template.javascript.md
Due: none

feat(question): add #426 - Priority-based Promise Executor
  challenges/426-priority-based-promise-executor/README.md
  challenges/426-priority-based-promise-executor/info.yml
  challenges/426-priority-based-promise-executor/template.javascript.md
Due: none

feat(question): add #428 - Retry Promises N Times
  challenges/428-retry-promises-n-times/README.md
  challenges/428-retry-promises-n-times/info.yml
  challenges/428-retry-promises-n-times/template.typescript.md
Due: none

feat(question): add #430 - Custom Promise
  challenges/430-custom-promise/README.md
  challenges/430-custom-promise/info.yml
  challenges/430-custom-promise/template.typescript.md
Due: none

feat(question): add #432 - Throttle with Leading and Trailing
  challenges/432-throttle-with-leading-and-trailing/README.md
  challenges/432-throttle-with-leading-and-trailing/info.yml
  challenges/432-throttle-with-leading-and-trailing/template.typescript.md
Due: none

feat(question): add #434 - React Multi-Stepper Component
  challenges/434-react-multi-stepper-component/README.md
  challenges/434-react-multi-stepper-component/info.yml
  challenges/434-react-multi-stepper-component/template.react.md
Due: none

Update info.yml
  challenges/434-react-multi-stepper-component/info.yml
Due: none

fix stepper challenge
  challenges/434-multi-stepper-component/README.md
  challenges/434-multi-stepper-component/info.yml
  challenges/434-multi-stepper-component/template.react.md
  challenges/434-react-multi-stepper-component/template.react.md
Due: none

add force-static param
  .gitignore
  apps/www/app/(default)/categories/[category]/page.tsx
  apps/www/app/(default)/page.tsx
  apps/www/app/layout.tsx
  apps/www/screens/home/ui/HomePage.tsx
  pnpm-lock.yaml
Due: eslint --fix --cache

run sandpack on layout change
  apps/www/features/code-editor/ui/ResizableLayout.tsx
Due: eslint --fix --cache

fix bugs in code editor
  apps/www/components/ui/resizable.tsx
  apps/www/components/ui/tooltip.tsx
  apps/www/entities/answer/api/getAnswerOfQuestions.ts
  apps/www/entities/answer/ui/AnswerList.tsx
  apps/www/entities/challenge/model/templates/react-typescript.ts
  apps/www/entities/challenge/ui/ChallengeListItem.tsx
  apps/www/entities/challenge/ui/EditChallengeDropdown.tsx
  apps/www/entities/challenge/ui/Editor.tsx
  apps/www/entities/challenge/ui/Question.tsx
  apps/www/entities/completions/ui/MarkCompleteButton.tsx
  apps/www/features/challenge-filter/hooks/usePersistedChallengeFilters.ts
  apps/www/features/code-editor/context/LayoutProvider.tsx
  apps/www/features/code-editor/context/SandpackLocalProvider.tsx
  apps/www/features/code-editor/hooks/useChallengeFiles.ts
  apps/www/features/code-editor/hooks/usePrettify.ts
  apps/www/features/code-editor/lib/enableEmmet.ts
  apps/www/features/code-editor/lib/loadReactTypeDefinitions.ts
  apps/www/features/code-editor/lib/setLanguage.ts
  apps/www/features/code-editor/ui/AddNewFileButton.tsx
  apps/www/features/code-editor/ui/Console.tsx
  apps/www/features/code-editor/ui/File.tsx
  apps/www/features/code-editor/ui/MonacoEditor.tsx
  apps/www/features/code-editor/ui/ResizableLayout.tsx
  apps/www/features/code-editor/ui/ResizableLayoutPanel.tsx
  apps/www/features/code-editor/ui/SandpackRoot.tsx
  apps/www/features/submission-question/ui/CodeFields.tsx
  apps/www/package.json
  apps/www/screens/playground/ui/PlaygroundPage.tsx
  apps/www/shared/ui/mdx/Sandpack.tsx
  apps/www/utils/helpers.ts
  apps/www/widgets/Header.tsx
  apps/www/widgets/Spotlight.tsx
  challenges/432-throttle-with-leading-and-trailing/template.typescript.md
  challenges/434-multi-stepper-component/info.yml
  challenges/434-multi-stepper-component/template.react-ts.md
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #439 - Snake to CamelCase
  challenges/439-snake-to-camelcase/README.md
  challenges/439-snake-to-camelcase/info.yml
  challenges/439-snake-to-camelcase/template.typescript.md
Due: none

feat(question): add #442 - Deep Clone
  challenges/442-deep-clone/README.md
  challenges/442-deep-clone/info.yml
  challenges/442-deep-clone/template.typescript.md
Due: none

feat(question): add #442 - Deep Clone
  challenges/442-deep-clone/README.md
  challenges/442-deep-clone/template.typescript.md
Due: none

feat(question): add #446 - Get
  challenges/446-get/README.md
  challenges/446-get/info.yml
  challenges/446-get/template.typescript.md
Due: none

feat(question): add #449 - Curry
  challenges/449-curry/README.md
  challenges/449-curry/info.yml
  challenges/449-curry/template.javascript.md
Due: none

feat(question): add #453 - Throttle with Leading & Trailing
  challenges/453-throttle-with-leading-and-trailing/README.md
  challenges/453-throttle-with-leading-and-trailing/info.yml
  challenges/453-throttle-with-leading-and-trailing/template.javascript.md
Due: none

feat(question): add #455 - Curry with Placeholder
  challenges/455-curry-with-placeholder/README.md
  challenges/455-curry-with-placeholder/info.yml
  challenges/455-curry-with-placeholder/template.javascript.md
Due: none

separate template for 449
  challenges/449-curry/template.javascript.md
  challenges/449-curry/template.typescript.md
Due: none

update pnpm lock
  pnpm-lock.yaml
Due: none

remove duplicate challenge
  challenges/432-throttle-with-leading-and-trailing/template.javascript.md
  challenges/453-throttle-with-leading-and-trailing/README.md
  challenges/453-throttle-with-leading-and-trailing/info.yml
  challenges/453-throttle-with-leading-and-trailing/template.javascript.md
Due: none

separte ts template
  challenges/455-curry-with-placeholder/template.javascript.md
  challenges/455-curry-with-placeholder/template.typescript.md
Due: none

add readonly for tests
  apps/www/features/code-editor/ui/File.tsx
  apps/www/features/code-editor/ui/MonacoEditor.tsx
Due: eslint --fix --cache

update nextjs to latest
  .turbo/cookies/2.cookie
  .turbo/daemon/393a45f584515f12-turbo.log.2025-09-21
  apps/www/app/(default)/blog/[slug]/page.tsx
  apps/www/app/(default)/roadmaps/[slug]/page.tsx
  apps/www/app/(editor)/play/page.tsx
  apps/www/app/auth/callback/route.ts
  apps/www/components/ui/breadcrumb.tsx
  apps/www/components/ui/resizable.tsx
  apps/www/features/code-editor/ui/File.tsx
  apps/www/features/code-editor/ui/ResizableLayout.tsx
  apps/www/screens/blog/ui/BlogDetailPage.tsx
  apps/www/screens/categories/ui/CategoryDetailPage.tsx
  apps/www/screens/challenge/ui/ChallengePage.tsx
  apps/www/screens/roadmaps/ui/RoadmapDetailPage.tsx
  apps/www/shared/ui/mdx/Sandpack.tsx
  apps/www/widgets/Header.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #459 - Debounce with Leading & Trailing
  challenges/459-debounce-with-leading-and-trailing/README.md
  challenges/459-debounce-with-leading-and-trailing/info.yml
  challenges/459-debounce-with-leading-and-trailing/template.javascript.md
Due: none

feat(question): add #462 - Shuffle
  challenges/462-shuffle/README.md
  challenges/462-shuffle/info.yml
  challenges/462-shuffle/template.javascript.md
Due: none

reorder templates
  .gitignore
  apps/www/entities/challenge/model/constants.ts
  apps/www/entities/challenge/model/templates/index.ts
  apps/www/entities/challenge/ui/Description.tsx
  challenges/434-multi-stepper-component/info.yml
Due: eslint --fix --cache

update templates for 459
  apps/www/package.json
  apps/www/shared/lib/bundleMarkdown.ts
Due: eslint --fix --cache, prettier --write --cache

update templates for 459
  challenges/459-debounce-with-leading-and-trailing/template.javascript.md
  challenges/459-debounce-with-leading-and-trailing/template.typescript.md
  pnpm-lock.yaml
Due: none

remove duplicate challenge
  challenges/462-shuffle/README.md
  challenges/462-shuffle/info.yml
  challenges/462-shuffle/template.javascript.md
Due: none

feat(question): add #465 - Decode Message
  challenges/465-decode-message/README.md
  challenges/465-decode-message/info.yml
  challenges/465-decode-message/template.javascript.md
Due: none

update templates
  challenges/465-decode-message/template.javascript.md
  challenges/465-decode-message/template.typescript.md
Due: none

fix build errors
  apps/www/app/(editor)/play/page.tsx
  apps/www/entities/category/ui/CategoryList.tsx
Due: eslint --fix --cache

fix build errors
  apps/www/screens/playground/ui/PlaygroundPage.tsx
Due: eslint --fix --cache

feat(question): add #468 - First Bad Version
  challenges/468-first-bad-version/README.md
  challenges/468-first-bad-version/info.yml
  challenges/468-first-bad-version/template.javascript.md
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{ts,tsx}
  prettier --write --cache: (any of: *.js) or (any of: *.{css,json})
